body{
    background-color: khaki;
    background-image: url(..//Images/Hospital\ 1.jpg);
    background-repeat: no-repeat;
}

h1{
    margin-left: 25%;
    text-align: center;
    background-image: url(..//Images/textura-metalica-2945.jpg);
    background-position: 2px;
    border: 5px;
    border-color: rgb(39, 125, 236);
    border-style: outset;
    font-family: "Abril Fatface", serif;
    font-size: 50px;
    text-shadow: 2px 2px 2px rgba(107, 168, 249, 0.527);
    width: 750px;
}

.form-login{
    border: 5px rgb(39, 125, 236);
    border-style: outset;
    background-image: url(..//Images/textura-metalica-2945.jpg);
    background-repeat: no-repeat;
    text-align: center;
    font-family: "Abril Fatface", serif;
    font-size: 35px;
    text-shadow: 2px 2px 2px rgba(107, 168, 249, 0.527);
    width: 600px;
    height: 500px;
    margin-left: 30%;
}

.topnav {
  background-color: #333;
  overflow: hidden;
  text-align: left;
  border-radius: 15px;
  border: 5px;
  border-color: aquamarine;
  border-style:inset;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 19px 15px;
  text-decoration: none;
  font-size: 19px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 500;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: right;
  border-right:1px solid #bbb;
}

.pack1{
  background-color: red;
  color: white;
}


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 50px;
  text-decoration:double;
}

li a:hover:not(.active) {
  background-color: silver;
}
  
  .pack {
    background-color: aquamarine;
    color:black;
  }
  .pack1{
    background-color: red;
    color: white;
  }